# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
*.htaccess
php.ini

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
mqcristobal/sites/default/settings.php
