/**
 * Use this file to conditionally override styles for devices.
 * If you adjust the media queries in the theme settings you should
 * adjust them here so they match.
 */

/* Smartphone portrait */
@media only screen and (max-width:320px) {
	
	.suppliers-title{
		font-size:50px;
		color:#333;
	}
}


/* Smartphone landscape */
@media only screen and (min-width:321px) and (max-width:480px) {
	.suppliers-title{
		display:block;
		margin:-27px 0 27px;
		padding:0;
	}
}

/* Tablet portrait */
@media only screen and (min-width:481px) and (max-width:768px) {
}
