.block-inner{
	margin:0 !important;
}
#content{
	background:white !important;
}

.wedding_ct_container{
	text-align:center;
}

.wedding_ct_titles{
	display:block;
	margin:-27px 0 27px;
	padding:0;
}
.wedding_ct_titles li{
	display:inline;
	font-size:18px;
	margin:0;
	padding:0;
}
.wedding_ct_titles li:after{
	content: '\2022';
}
.wedding_ct_titles li.last:after{
	content:'';
}

.wedding_ct_title{
	font-size:90px;
	color:#333;
}
.wedding_ct_title_container{
}
.wedding_ct_top_1_line{
	border-bottom:4px solid #bbb;
	width:100%;
	margin: 0 auto;
}

.wedding_ct_title2_container{
	position: relative;
	width: 20%;
	background: #fff;
	margin: -16px auto 0;
}
.wedding_ct_title2{
	color:#8D1E80;
}
.wedding_ct_title2_middle{
	color:#FF6AB5;	
}

.wedding_ct_top_2{
}
.wedding_ct_date_container{
	width:30%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	float:left;
}
.wedding_ct_date_month{
	font-size:35px;
}
.wedding_ct_date_day{
	font-size:20px;
}
.wedding_ct_date_year{
	font-size:40px;
}
.wedding_ct_timer{
	margin:0 0 20px;
}

.wedding_ct_location_container{
	width:69%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	float:left;
	color:#999;
	border-left:2px dashed #A7A7A7;
	margin:0 0 15px;
	min-height:170px;
}
.wedding_ct_location_church{
	font-size:30px;
	color:#058FCF;	
	letter-spacing:.5em;
}
.wedding_ct_location_reception{
	font-size:30px;
	color:#058FCF;	
}
.wedding_ct_top_2_line{
	border-bottom:4px solid #bbb;
	width:100%;
	margin: 0 auto;
}

.wedding_ct_top_3{
	background:#fff;
	padding-bottom:20px;
}

.wedding_ct_godparents_title{
	font-size:30px;
	color:#A06AA0;
	letter-spacing:20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.wedding_ct_godmothers{
	float:left;
	width:50%;
}
.wedding_ct_godmothers div{
	width:99%;
	margin:0 auto;
}
.wedding_ct_godfathers{
	float:left;
	width:50%;
}
.wedding_ct_godfathers div{
	width:99%;
	margin:0 auto;
}
.wedding_ct_godparent_h3{
	font-size:25px;
	color:#DB7CB9;
	letter-spacing:2px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display:none;
}
.wedding_ct_top_3 ul{
	margin:0;
	padding:0;
}
.wedding_ct_top_3 ul li{
	list-style:none;
	font-size:20px;
	color:#555;
	padding:0;
	margin:0;
	letter-spacing:5px;
	word-spacing:10px;
	margin:0;
	padding:0;
}
.wedding_ct_top_3 ul li:before{
	content:"•";
	margin-right:10px;
	color:#bbb;
}
.wedding_ct_top_3 ul li:after{
	content:"•";
	margin-left:10px;
	color:#bbb;
}
.wedding_ct_top_3_line{
	border-bottom:2px solid #ccc;
	width:100%;
	margin: 0 auto;
}


.wedding_ct_top_4{
	background:#fff;
}
.wedding_ct_entourage_title{
	font-size: 32px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #54548F;
	letter-spacing: 10px;
}
.wedding_ct_brides_maid{
	float:left;
	width:50%	
}
.wedding_ct_maid_of_honor{
	float:left;	
	width:50%;
}
.wedding_ct_best_man{
	float:left;
	width:50%;
}